* {
    box-sizing: border-box;
}

body {
    background: #EFEFEF;
    font-family: 'adobe clean';
    margin: 0;
}

.hero {
    position: relative;
}

.hero > div > div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    align-content: flex-end;
    height: 100vh;
    max-width: 100%;
    padding: 0 0 48px 0;
}

.hero h1, h2 {
    z-index: 2;
    position: relative;
    padding: 6px 24px;
    margin: 0;
    flex: 1 1 auto;
    background: rgb(204, 204, 204); /* Fallback for older browsers without RGBA-support */
    background: rgba(204, 204, 204, 0.3);
}

.hero picture {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.hero img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: 0.8;
}

.hero img:hover {
  opacity: 1.0;
}
